.permits {
  height: 50px;
  width: 90%;
  background-color: #404F6B;
  padding: 0 50px;
  margin-bottom: 20px;
  display: flex;
  color: white;
  align-items: center;
  padding-top: 10px;  
  justify-content: space-between;
}

@media (max-width: 600px) {
  .permits {
    font-size: 12px;
    padding-left: 40px;
    padding-right: 10px;
  }

  .permit_type {
    flex: 0.10 !important;
  }

  .reported_cost {
    display: none;
  }
}